
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: 'Montserrat';
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    
}

h1 , h2{

}
button{
    background-color:rgb(236, 156, 7);
    color:rgb(255, 255, 255);
    box-shadow:0;
    border:1px solid black;
    font-family: 'Montserrat';
    padding:5px;
    border-radius: 10px;

}

.header{
    margin:0;
    padding:20px;
    position: relative;
    border-bottom: 1px solid black;
    
}
.description-container{
    padding:40px;
}
.app-name{
    font-weight:800;
    font-size:30px;

}

.book-card{
    box-shadow: 5px 5px 1px rgb(0,0,0,0.1);
    padding: 15px;
    border: 1px solid black;
    background-color:white;
    border-radius: 10px;
    display:grid;

    
}
.title{
    font-size: 20px;
    font-weight: 600;
}

.author{
    font-size: 15px;
    font-weight:500;


}
.pages{
    font-size:15px;
}
.read{
    padding:5px;
    font-size:15px;
    font-family: 'Montserrat';


}

.content-container{
    display:grid;
    padding:20px;
    background-color:rgb(253, 251, 247);
}
.book-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:auto;
    gap:30px;
    margin:30px;
}